
body{
	background-color: #f9dcc4;
	align-items: center;
	justify-content: center;

}

.mainDiv{
	display:flex;
	justify-content: center;
}

.title{
	text-align: center;
}

.delete-button{
	margin: 20px;
	
}

.image{
	padding: 10px;
}


.formSection{
	background-color: white;
	margin: 40px;
	width: 50%;
	padding: 35px;
	border-radius: 10px;
}

@media(max-width: 1024px){
	#form, #preview{
		width: 85%;
	}
}

#fileChooser{
	visibility: hidden;	
}



.icon-figure{
	display: flex;
	justify-content: center;
	border-radius: 15px;
	transition: transform .3s;
	width: 80px;
	height: 70px;
}
.icon-figure:hover {
  transform: scale(1.1);
}
.icon-figure i{
	position: relative;
	top : 12px;
	color: #FF9400;
}
.icon-div{
	display: flex;
	justify-content: center;
}

.previewButtons{
	display: flex;
	justify-content: space-between;
	white-space:nowrap;
	margin-top: 20px;
}


.previewData{
	margin-left: 20px;
}
.imgPreview{
	padding: 5px;
	border: 4px inset;
	border-color: #FF9400;
	border-radius: 5px;
	margin-top:15px;
}



#availabilityDateSection{
	display: flex;
}

#previewImages{
	max-height: 500px;
	justify-content: center;

}

#previewAreas, #previewImages{
	margin-top: 20px;

}


#addAvailabilityDate{
	margin-left: 10px;	
}

