::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow:  none ; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0 5px #f4a261; 
}

.color_orange{ color: #f4a261; }
.background-orange{ background-color: #f4a261; }
.icon-button{ padding: 0; font-size: 20px; width: 34px;}
.center{ display: flex; justify-content: center;  align-items: center;}
.color-card-offer-form{color: #f4a261;}
.background-color-card-offer-form{background-color: #f4a261;}
.wrapper{ padding : 0 ; margin : 0 ;  display: flex; justify-content: center; align-items: center;}
.space-between{ display: flex; justify-content: space-between; }
.m-0-p-0{padding : 0 ; margin : 0 ;}

.alert{
    position: absolute;
    visibility: hidden;
    min-width: 70px;
    max-width: 150px;
    min-height: 50px;
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 48, 73, 0.7);
    color: white;
    border-radius: 7px;
    z-index: 100 !important;
}

.alert-top{
    bottom: 103%;
    left: 0;
}

.alert-left{
    top: 0;
    right: 103%;
}

.alert-right{
    left: 103%;
    top: 0;
}

.alert-bottom{
    top: 103%;
    left: 0;
}

