.dropdown-notification {
	position: absolute;
	z-index: 1000;
	width: 500px;
	display: none;
	border-radius: 12px;
	max-height: 520px;
	overflow-y: auto;
	overflow-x: hidden;
}

.notification-title {
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: bold;
	margin-bottom: 5px;
}

.notification-description {
	margin-bottom: 0px;
	font-size: 15px;
	max-height: 50px;
	max-width: 400px;
	overflow: auto;
}

.image img {
	position: relative;
	width: 60px;
	height: 60px;
	clip-path: circle(40%);
}

.image {
	display: flex;
	align-content: center;
	justify-content: center;
	float: left;
	max-height: 72px;
	margin-right: 10px;
}

.notification {
	max-height: 70px;
	position: relative;
}

.delete-notification {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

#notification-bell {
	position: relative;
	cursor: pointer;
}

#new-notification {
	display: none;
	position: absolute;
	font-size: 8px;
	top: 10px;
	right: 0px;
}
.fa-circle{
	color: #FF9400;
}
.unread-notification{
	font-size: 8px;
	position: relative;
	bottom : 3px;
	left: 5px;
}
@media ( max-width : 992px) {
	#new-notification {
		position: absolute;
		font-size: 8px;
		top: 10px;
		left: 65px;
	}
}

@media ( max-width :400px) {
	.dropdown-notification {
		position: absolute;
		z-index: 1000;
		width: 300px;
		display: none;
		border-radius: 12px;
	}
	.notification {
		height: 90px;
	}
	.image {
		height: 90px;
	}
}
© 2022 GitHub, Inc.
Terms
Privacy
Secur