#code-div{
	display: none;
}
body{
	display: flex;
	justify-content: center;
}
.outer-div{
	padding-left: 30px;
	padding-right:30px;
	padding-bottom : 30px;
	padding-top: 30px;
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
}
h1{
	text-align: center;
}