.fa-star{
	color : #FF9400;
}
i{
	color: #FF9400;
	padding-left: 3px;
}
.areas{
	display: inline-block;
}
.rounded-photo{
	
	height: 210px;
	clip-path: circle(40%);
}
.card-title{
	float: left;
	padding-right: 7px;
}
.review-description{
	clear: left;
	max-height: 50px;
	overflow-x: hidden;
	overflow-y: auto;
}
.review-header{
	float: left;
}
.card{
	clear: left;
}
.star-container{
	position: relative;
	left: 20px;
	top: 3px;
}
/*Toglie lo scroll dall'input field dei numeri*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  Toglie lo scroll dall'input field dei numeri*/
input[type=number]{
  -moz-appearance: textfield;
}
#button-div{
	display: flex;
	justify-content: center;
}
#delete-button,#save-button,#house-number-div,#via-div,#select-area-div-outer{
	display: none;
}
.icon-figure{
	display: flex;
	justify-content: center;
	border-radius: 15px;
	transition: transform .3s;
	width: 80px;
	height: 70px;
}
.icon-figure:hover {
  transform: scale(1.1);
}
.icon-figure i{
	position: relative;
	top : 12px;
	color: #FF9400;
}
.icon-div{
	display: flex;
	justify-content: center;
}
/*@media(max-width:995px){
	.review-header{
		float: none;
	}
	.star-container{
		position: static;
	}
}*/