.fa-star{
	color : #FF9400;
}
i{
	color: #FF9400;
}
.areas{
	display: inline-block;
}
.rounded-photo{
	height: 210px;
	clip-path: circle(40%);
}
.card-title{
	padding-right: 7px;
}
.review-description{
	clear: left;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}
.review-header{
	float: left;
}
.card{
	clear: left;
}
.star-container{
	position: relative;
	left: 20px;
	top: 3px;
}
/*Toglie lo scroll dall'input field dei numeri*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  Toglie lo scroll dall'input field dei numeri*/
input[type=number]{
  -moz-appearance: textfield;
}
#button-div{
	display: flex;
	justify-content: center;
}
#delete-button,#save-button,#house-number-div,#via-div,#area-div-outer,#photo-button-div{
	display: none;
}
.icon-figure{
	display: flex;
	justify-content: center;
	border-radius: 15px;
	transition: transform .3s;
	width: 80px;
	height: 70px;
}
.icon-figure:hover {
  transform: scale(1.1);
}
.icon-figure i{
	position: relative;
	top : 12px;
	color: #FF9400;
}
.icon-div{
	display: flex;
	justify-content: center;
}
#upload-photo,#remove-photo{
	padding: 10px 18px;
	border-radius: 10px;
	color: #FF9400;
	background-color: #FFFFFF;
	border : none;
}
#delete-icon{
	margin-right: 8px;	
}
#upload-icon{
	margin-right: 8px;	
}
#file-input{
	display: none;
}
#send-email{
	cursor: pointer;
}
.custom-button {
	border-radius: 5px;
	height: 38px;
	background-color: #FF9400;
	color: white;
	border: none;
}
.custom-button:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}