#form {
    margin: auto;
    width: 50%;
    padding: 5%;
}
nav{
	margin-bottom: 30px;
}
.header{
    text-align: center;
}
/*Toglie lo scroll dall'input field dei numeri*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  Toglie lo scroll dall'input field dei numeri*/
input[type=number]{
  -moz-appearance: textfield;
}
i{
    cursor: pointer;
}
.button-div{
    display: flex;
    justify-content: space-between;
}
@media(max-width:1024px){
	#form {
    	width: 85%;
	}
}
.centered-div{
	display: flex;
	justify-content: center;
}
.rounded-photo{
	
	height: 210px;
	clip-path: circle(40%);
}
/*	border: 2px solid black;*/
#upload-photo,#remove-photo{
	padding: 10px 18px;
	border-radius: 10px;
	color: #FF9400;
	background-color: #FFFFFF;
	border : none;
}
#delete-icon{
	margin-right: 8px;	
}
#upload-icon{
	margin-right: 8px;	
}
#file-input{
	display: none;
}
.icon-figure{
	display: flex;
	justify-content: center;
	border-radius: 15px;
	transition: transform .3s;
	width: 80px;
	height: 70px;
}
.icon-figure:hover {
  transform: scale(1.1);
}
.icon-figure i{
	position: relative;
	top : 12px;
	color: #FF9400;
}
.icon-div{
	display: flex;
	justify-content: center;
}
#missing-area{
	display: none;
}
#picture-and-areas{
	display: none;
}
.bold {
	font-weight:bold;
}
#summary{
	display:none;
}
#summary-areas{
	display: inline-block;
}
#summary-areas i{
	cursor: default;
	padding-right: 8px;
	color: #FF9400
}
.custom-button {
	border-radius: 5px;
	height: 38px;
	background-color: #FF9400;
	color: white;
	border: none;
	width: 105px;
}
.custom-button:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}