#form {
    margin: auto;
    width: 50%;
    padding: 5%;
}
body{
	padding : 2% 0;
}
.header{
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]{
  -moz-appearance: textfield;
}
i{
    cursor: pointer;
}
.button-div{
    display: flex;
    justify-content: space-between;
}
@media(max-width:1024px){
	#form {
    	width: 85%;
	}
}
#test{
	display: flex;
	justify-content: center;
}
#profile-pic{
	widows: 300px;
	height: 300px;
	clip-path: circle(40%);
}
/*	border: 2px solid black;*/
#upload-photo,#remove-photo{
	padding: 10px 18px;
	border-radius: 10px;
	color: #FF9400;
	background-color: #FFFFFF;
	border : none;
}
#delete-icon{
	margin-right: 8px;	
}
#upload-icon{
	margin-right: 8px;	
}
#file-input{
	display: none;
}
.icon-figure{
	display: flex;
	justify-content: center;
	border-radius: 15px;
	transition: transform .3s;
	width: 80px;
	height: 70px;
}
.icon-figure:hover {
  transform: scale(1.1);
}
.icon-figure i{
	position: relative;
	top : 12px;
	color: #FF9400;
}
.icon-div{
	display: flex;
	justify-content: center;
}
#missing-area{
	display: none;
}
#picture-and-areas{
	display: none;
}
