/* 

@media screen and (max-width: 1420px) and (min-height:1215px){
    
    .inner-container-advertises{
        grid-template-columns: 28% 28%;
        grid-template-rows: 25% 25% 25% 25%;
       
    }
    
    .banner{
        padding: 5px;
    }

}


@media screen and (max-width: 1440px) and (max-height:1215px) {
    
    
    .banner{
        padding: 5px;
    }

    .inner-container-advertises{
        grid-template-columns: 23% 23% 23% 23%;
    }

}

/* IPAD - IPAD AIR - IPAD MINI*/
/* @media screen and (max-width: 1000px) and (min-height:1000px){
 
    .inner-container-advertises{
        grid-template-columns: 40% 40%;
        grid-template-rows: 25% 25% 25% 25%;	
    }

}
*/
/* @media screen and (max-width: 800px)  {
 
    .outer-container-advertises{
        width: 100%;
    }
}   */

/* button-search-bar */
@media screen and (max-width: 800px) and (max-height:1000px) {
    .button-search-bar-smartphone{ 
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -20px;
        right: 10px;
        z-index: 2;
        border-radius: 15px;
        background-color: var(--color-orange-0-8);
        color: white;
    }
    .container_areas_smartphone{
        padding: 10px;
        margin: 0;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        max-height: 0;
        flex-wrap: wrap;
        
        transition: 0.6s;
        overflow: clip;
    }
    .search-bar-input-sticky{  border-bottom: 1px solid var(--color-orange-1) !important;  }
    .button-choose-area-sticky{
        color: var(--color-orange-1);
        border: 1px solid var(--color-orange-1);
        margin: 0;
    }
    .icon-button-areas {
        font-size: 20px;
        width: 2em;
        height: 2em;
    }
    .button-search-avertise-smartphone{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: var(--color-orange-0-8);
        color: white;
        align-self: flex-end;
        margin: 6px;
    }
    .button-search-advertise i {
        margin: 0;
        padding: 10px;
        font-size: 2rem;
        color: white;
    }
    .button-search-advertise i:hover {
        color: whitesmoke;
        scale: 1.1;
        transition: 0.4s;
    }
    .search-bar-item{
        margin: 15px;
    }
    .wrapper-search-bar-items .wrapper {
        width: 100%;
    }
}

@media screen and ( max-width:1200px){
 
    .outer-container-advertises{
        min-width: 90%;
    }
    .inner-container-advertises{
        grid-template-columns: repeat(auto-fit, minmax(20rem,1fr))
    }

}


